body{
	background-color: gray;
}
button{
	margin: 10px;
	text-align: center;
	border: none;
	background-color: #004566;
	color: white;
	padding: 15px 32px;
	font-size: 26px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: none;
}

button:hover{
	background-color: white;
	color: #004566;
	box-shadow: 0 0px 0px 16px #004566;
}

div, form, input {
	margin: 10px;
}

.container{
	width: 100%;
}

#gifViews{
	width: 100%;
}

.gif{
	width: 15%;
	height: 15%;
	float: left;
}

.gifs{
	
}
