body{
	background-color: #004566;
}
button{
	text-align: center;
	border: none;
	background-color: white;
	color: #004566;
	padding: 15px 32px;
	font-size: 26px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: none;
}

button:hover{
	background-color: #004566;
	color: white;
}

#sideNav{
	background: linear-gradient(white, #004566);
	text-align: center;
	float: left;
	height: 100%;
	width: 15%;
}


.header{
	color: #004566;
	background-color: white;
	width: 100%;
	height: 10%;
}

@font-face {
	font-family: 'OCEAN';
	font-style: normal;
	font-weight: normal;
	src: local('OCEAN'), url('ocean.woff') format('woff');
}

.header p{
	padding-left: 1%;
	font-family:'OCEAN';
	font-weight:normal;
	font-size: 78px;
}

#buttonsView{
	background-color: white;
	float: left;
	width: 100%;
	border-color: #004566;
	border-style: solid;
	border-width: 2px;
	border-right: none;
	border-left: none;
}

form, input {
	margin: 10px;
}

.container{
	width: 100%;
}

#gifViews{
	text-align: center;
}

.gifs{
	display:inline-block;
	height: 220px;
	width: 220px;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.gif{
	height: 100%;
	width: 100%; 
}

.infoDiv{
	background-color: white;
	height: 50px;
	width: 220px;
}

.spacer{
	height: 5.5%;
	background-color: white;
	float: right;
	width: 85%;
}

.wavecontainer{
}

span {
  display: inline-block;
  background-color: #004566;
  width: 20px;
  height: 10px;
  animation: wave 2s ease-in-out infinite;
  margin-bottom: 5%;
}

/**

.a1 {
	float: left;
	animation-delay: 0s;
}
.a2 {
	float: left;
	animation-delay: .1s;
}
.a3 {
	float: left;
	animation-delay: .2s;
}
.a4 {
	float: left;
	animation-delay: .3s;
}
.a5 {
	float: left;
	animation-delay: .4s;
}
.a6{
	float: left;	
	animation-delay: .5s;
}
.a7{
	float: left;	
	animation-delay: .6s;
}
.a8{
	float: left;	
	animation-delay: .7s;
}
.a9{
	float: left;
	animation-delay: .8s;
}
.a10{
	float: left;
	animation-delay: .9s;
}
.a11{
	float: left;
	animation-delay: 1s;
}
.a12{
	float: left;
	animation-delay: 1.1s;
}
.a13{
	float: left;
	animation-delay: 1.2s;
}
.a14{
	float: left;
	animation-delay: 1.3s;
}
.a15{
	float: left;
	animation-delay: 1.4s;
}
.a16{
	float: left;
	animation-delay: 1.5s;
}
.a17{
	float: left;
	animation-delay: 1.6s;
}
.a18{
	float: left;
	animation-delay: 1.7s;
}
.a19{
	float: left;
	animation-delay: 1.8s;
}
.a20{
	float: left;
	animation-delay: 1.9s;
}
.a21 {
	float: left;
	animation-delay: 0s;
}
.a22 {
	float: left;
	animation-delay: .1s;
}
.a23 {
	float: left;
	animation-delay: .2s;
}
.a24 {
	float: left;
	animation-delay: .3s;
}
.a25 {
	float: left;
	animation-delay: .4s;
}
.a26{
	float: left;	
	animation-delay: .5s;
}
.a27{
	float: left;	
	animation-delay: .6s;
}
.a28{
	float: left;	
	animation-delay: .7s;
}
.a29{
	float: left;
	animation-delay: .8s;
}
.a30{
	float: left;
	animation-delay: .9s;
}
.a31{
	float: left;
	animation-delay: 1s;
}
.a32{
	float: left;
	animation-delay: 1.1s;
}
.a33{
	float: left;
	animation-delay: 1.2s;
}
.a34{
	float: left;
	animation-delay: 1.3s;
}
.a35{
	float: left;
	animation-delay: 1.4s;
}
.a36{
	float: left;
	animation-delay: 1.5s;
}
.a37{
	float: left;
	animation-delay: 1.6s;
}
.a38{
	float: left;
	animation-delay: 1.7s;
}
.a39{
	float: left;
	animation-delay: 1.8s;
}
.a40{
	float: left;
	animation-delay: 1.9s;
}
.a41 {
	float: left;
	animation-delay: 0s;
}
.a42 {
	float: left;
	animation-delay: .1s;
}
.a43 {
	float: left;
	animation-delay: .2s;
}
.a44 {
	float: left;
	animation-delay: .3s;
}
.a45 {
	float: left;
	animation-delay: .4s;
}
.a46{
	float: left;	
	animation-delay: .5s;
}
.a47{
	float: left;	
	animation-delay: .6s;
}
.a48{
	float: left;	
	animation-delay: .7s;
}
.a49{
	float: left;
	animation-delay: .8s;
}
.a50{
	float: left;
	animation-delay: .9s;
}
.a51{
	float: left;
	animation-delay: 1s;
}
.a52{
	float: left;
	animation-delay: 1.1s;
}
.a53{
	float: left;
	animation-delay: 1.2s;
}
.a54{
	float: left;
	animation-delay: 1.3s;
}
.a55{
	float: left;
	animation-delay: 1.4s;
}
.a56{
	float: left;
	animation-delay: 1.5s;
}
.a57{
	float: left;
	animation-delay: 1.6s;
}
.a58{
	float: left;
	animation-delay: 1.7s;
}
.a59{
	float: left;
	animation-delay: 1.8s;
}
.a60{
	float: left;
	animation-delay: 1.9s;
}
.a61 {
	float: left;
	animation-delay: 0s;
}
.a62 {
	float: left;
	animation-delay: .1s;
}
.a63 {
	float: left;
	animation-delay: .2s;
}
.a64 {
	float: left;
	animation-delay: .3s;
}

.alast{
	animation-delay: .4s;
	width: 11px;
}
**/

@keyframes wave {
  0%, 50%{
  }
  25% {
    transform: scaleY(4);
    background-color: #004566;
  }
}