body{
	background-color: gray;
}



.gifList{
	background-color: #004566;
	text-align: center;
	margin: 5%;
	width: 55%;
	height: 10%;
}

.gif {
	margin: 1%;
	text-align: center;
	border: none;
	background-color: #004566;
	color: white;
	padding: 15px 32px;
	font-size: 26px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-bottom: 10%;
    outline: none;
}

#images img{
	float: left;
}



.gif:hover{
	border: none;
	background-color: white;
	color: #004566;
	box-shadow: 0px 10px 0px 10px white;
}